:root {
    --color-fondo: #f4f4f4;
    --color-texto: #1f1f1f;
    --color-primario: #e50914;
    --color-secundario: #222222;
    --color-tarjeta: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}



.titulo-principal {
    margin: 0;
}


.seccion-peliculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    flex: 1;

}

.tarjeta-pelicula {
    background-color: var(--color-tarjeta);
    padding: 1rem;
    border-radius: 8px;
    width: 25rem;
    height: 42rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imagen-pelicula {
    width: 100%;
    border-radius: 4px;
}

.titulo-pelicula {
    margin-top: 0.5rem;
}

.footer {
    background-color: var(--color-secundario);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    height: 10rem;
}

/* Header - Hecho por Ángela */

.fondo_header{
    background-image: url(../img/teatro2.jpg);
    height: 650px;
    background-size: cover;
    align-items: center;
    position:relative;
    width: 100%;
    background-position: center center;
}

.contenedor_header{
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    background: rgb(0 0 0 /20%);
    position: relative;
    height: 100%;
    align-items: center;
    align-content: center;
    gap:0;
}

.encabezado{
    align-content: center;
    padding: 1rem;
    height: 200px;
    text-align: left;
    border-radius: 10px;
    color: white;
}

.titulo-principal{
    font-size: 60px;
    text-shadow: 0 0 7px #fff;
    text-align: center;
}

#sena{
    font-size: 60px;
    font-weight: bold;
    text-shadow: 0 0 7px #ef9d9d;
    text-align: center;
    color: #ef9d9d;
}

.titulo-principal span{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: lighter;
}

.contenedor_pelis{
    display: flex;
}

.poster{
    width: 150px;
    transition: transform 0.3s ease, scale 0.3s ease;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 50);
    transform: rotate(5deg);
    cursor: pointer;
    margin: -20px;

    &:hover{
        transform: rotate(0deg) scale(1.1);
    }
}

.contenedor_pelis img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}