:root {
  --color-fondo: #f4f4f4;
  --color-texto: #1f1f1f;
  --color-primario: #e50914;
  --color-secundario: #222222;
  --color-tarjeta: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.encabezado {
  background-color: var(--color-primario);
  padding: 1rem;
  text-align: center;
  color: white;
}

.titulo-principal {
  margin: 0;
}

.seccion-peliculas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  flex: 1;
}

/* APORTACION JHOSEF */

.tarjeta-pelicula {
  width: 250px;
  height: 420px;
  background-color: rgb(32, 31, 31);
  color: white;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 5px rgba(0, 0, 0, 0.514);
  z-index: 1;
  cursor: pointer;
}

.tarjeta-pelicula::before {
  content: "";
  position: absolute;
  top: -85px;
  left: -85px;
  height: 600px;
  width: 600px;
  background-image: conic-gradient(red 20deg, transparent 120deg);
  animation: luces 3s linear infinite;
  z-index: 1;
}

@keyframes luces {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.tarjeta-pelicula::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #1f1f1f;
  height: 410px;
  width: 240px;
  border-radius: 10px;
  z-index: 2;
}

.tarjeta-pelicula > * {
  position: relative;
  z-index: 3;
}

.tarjeta-pelicula:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

/* FIN de la aportacion. */

.imagen-pelicula {
  width: 100%;
  border-radius: 4px;
}

.titulo-pelicula {
  margin-top: 0.5rem;
}

.footer {
  background-color: var(--color-secundario);
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  height: 10rem;
}
